<form class="p-5" [formGroup]="myform" (ngSubmit)="editEmployee()">
    <div class="form-group">
        <label for="pwd">Id:</label>
        <input type="name" class="form-control" name="id" placeholder="{{currentEmployee.id}}" id="id"
            formControlName="id">
    </div>
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" name="email" placeholder="{{currentEmployee.email}}" id="email"
            formControlName="email">
    </div>
    <div class="form-group">
        <label for="pwd">Name:</label>
        <input type="name" class="form-control" name="Name" placeholder="{{currentEmployee.name}}" id="name"
            formControlName="name">
    </div>
    <div class="form-group" *ngFor="let device of availableDevices; let i=index">
        <label>
            <input class="form-group" type="checkbox" [value]="device.serialNumber" (change)="onCheckboxChange($event)" [checked]="hasDevice(device.serialNumber)" />
            {{device.description}}
        </label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-danger" (click)="deleteEmployee()">Delete Employee</a>
</form> 